:root {
	--blue: #E6FEF5;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
  color: #FDFFB5;
}

header {
	background: linear-gradient(#48A86A, #48A89A, #4886A8);
}

header nav {
	padding: 30px 5% 0px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav h1 {
	margin: 0;
	text-transform: uppercase;
	color: #191D3B;
}
header nav .right img {
	margin: 50% 30% 0 0;
	width: 100%;
  height= "200"
}

.presentation {
	padding: 20px 5%;
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.presentation .product-presentation {
	width: 100%;
	flex-shrink: 3;
}

.presentation .product-presentation h1 {
	margin: 0 ;
  font-size: 3vw;	
  width: 80%;
	font-family: "Playwrite FR Trad", cursive;
	color: #FDFFB5;
}

.presentation .product-presentation p {
	font-weight: 400;
	color: #FDFFB5;
}
.presentation .product-presentation button {
	margin-top: 20px;
	padding: 15px 20px;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
.presentation .image-presentation img {
	width: 100%;
}

.first .product-presentation button {
	background-color: #172A4D;
	color: #F7F4A1;
	border: 1px solid var(--blue);
	transition: background-color 0.5s, color 0.5s;
  }
.first .product-presentation button:hover { background-color: #041247;
	color: var(--blue);
  }
.first .product-presentation .small-images {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.first .product-presentation .small-images .small {
	padding: 20px;
	background-color: #172A4D;
	margin: 0 15px 15px 0;
	border-radius: 20px;
	transition: filter 0.5s;
}
.first .product-presentation .small-images .small:hover {
  filter: brightness(50%);
}
.first .product-presentation .small-images .small img {
    width: 210px;
  height: 300px;
	object-fit: cover;
}

.second {
	margin: 0;
  background: linear-gradient(#17454D,
#172A4D,
#1F174D);
}

.second .product-presentation .new {
	color: var(--blue);
}
.second .product-presentation button {
	background-color: inherit;
	border: 1px solid;
	color: var(--blue);
	transition: background-color 0.5s, color 0.5s;
}
.second .product-presentation button:hover {
	background-color: var(--blue);
	color: white;
}

footer {
	margin: 0;
	background-color: #191D3B;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer h3 {
	color: var(--blue);
}
footer p {
	cursor: pointer;
	color: #ccc;
}
footer p:hover {
	color: white;
}

@media screen and (max-width: 640px) {
	nav .right p {
		font-family: 'Playwrite+FR+Trad' ;
		display: none;
	}

	.presentation .product-presentation h1 {
		font-size: 2em;
	}
	.presentation .image-presentation {
		display: none;
	}
	.first .product-presentation .small-images .small img {
		width: 90px;
	}

	footer {
		justify-content: flex-start;
}
	footer .column {
		width: 80%;
	}
  }
